@import "../../../components/css/app.css";

:root {
  --main: hsl(205, 80%, 95%);
  --main-h: 205;
  --main-s: 80%;
  --main-l: 95%;
}

body {
  font-family: 'Yomogi', sans-serif;
  margin: 0; 

  background-image: url("../img/bg.png");
  /*background-repeat: no-repeat;*/
  background-position: 0;
  background-size: cover;

  background-color: #F2F1E6;
}

p {
  font-family: "DotGothic16", sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav {
  justify-content: flex-end;
}

th, td {
  border: 1px solid #ccc;
  padding: 4px;
  font-weight: bolder;
  color: #222;
  word-break: break-word;
  font-size: small;

  &:nth-child(1) {
    width: 4%;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 126, 186);
  }

  &:nth-child(2) {
    width: 40%;
  }

  &:nth-child(3) {
    width: 30%;
  }

  &:nth-child(4) {
    width: 8%;
  }
}

.tooltip {
  position: fixed;
  display: none;
  max-width: 240px;
  padding: 8px 10px;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 6px;
  pointer-events: none;
  z-index: 9999;
  white-space: pre-line;
}

.button {
  padding: 1px 5px;
  margin-left: 0.5rem;
  align-self: center;
  border-radius: 0.5rem;
  background-color: rgb(255, 126, 186);
  color: #fff;
}

#tableContainer, #tabArea, nav {
  margin: 0 15%;
}

/* Mobile */
@media (max-width: 768px) {
  body {
      background-image: url("../img/bg.png");
  }

  th, td {
    &:nth-child(1) {
      width: 4%;
      text-align: center;
    }

    &:nth-child(2) {
      width: 80px;
    }

    &:nth-child(3) {
      max-width: 80px;
    }

    &:nth-child(4) {
      width: 15%;
    }
  }

  .button {
    padding: 2.5px;
    font-size: xx-small;
  }

  #tableContainer, #tabArea, nav {
    margin: 0 5%;
  }
}